<div class="justify-content-center fourofour">
    <style>
        .fourofour {
            margin-bottom: 5em;
        }
        .spacefourofourtwo {
            margin-bottom: 5em;
            text-align: center;
        }
        .textfour {
            color: black;
            font-size: 6em;
        }
        .textfoursml {
            color: black;
            font-size: 3em;
            margin-bottom: 7em;
        }
    </style>
    <h1 class="fourofour"></h1>
    <div class="spacefourofourtwo">
        <p class="textfour">404</p>
    <p class="textfoursml">Not found</p>
    </div>
</div>