{{ with .Site.Params.texts }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title">
            <h2>{{ .title1 }}</h2>
            <div class="section-title">
            <p>{{ .subtitle1 }}</p>
            <img src="{{`/images/index/1.jpg` | absURL}}" class="img-fluid">
            </div>
          </div>

          <div class="section-title">
            <h2>{{ .title2 }}</h2>
            <p>{{ .subtitle2 }}</p>
            <img src="{{`/images/index/2.jpg` | absURL}}" class="img-fluid">
          </div>
          <div class="section-title">
            <h2>{{ .title3 }}</h2>
            <p>{{ .subtitle3 }}</p>
            <img src="{{`/images/index/3.jpg` | absURL}}" class="img-fluid">
          </div>
          <div class="section-title">
            <h2>{{ .title4 }}</h2>
            <p>{{ .subtitle4 }}</p>
          </div>
        </div>
        {{ end }}

      </div>
    </div>
  </section>
  {{ end }}
